html {
	background-color: #111;
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	background-color: #333;
	padding: 20px;
	padding-left: 30px;
	border-radius: 10px;
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;
	box-shadow: 15px 14px 79px 40px rgba(255,255,255,0.1);
	line-height: 1.5;
}

h1 {
	color: chartreuse;
}

img {
	width: 100%;
}

#logo {
	margin-right: 20px;
}

a {
	color: #999;
	text-decoration: none;
}

#link {
	position: relative;
	padding-left: 30px;
	text-decoration: none;
	color: white;
}

#link::before {
	content: "➜";
	position: absolute;
	left: 0;
	transition: left 0.2s ease-in-out;
}

#link:hover::before {
	left: 10px;
}

th, td {
	background-color: #333;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 5px;
}

table {
	background-color: #555;
	border-radius: 10px;
}

#acc, th {
	color: chartreuse;
}

.home {
	text-align: center;
}